<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <% for (var i = 0; i < graph.size; i++) { %>
          <th scope="col"><%= i %></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < graph.size; i++) { %>
        <tr>
          <th scope="row"><%= i %></th>
          <% for (var j = 0; j < graph.size; j++) { %>
            <td><%= graph.cartesian[i][j] %></td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
