<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boiler Plate</title>
    <link rel="stylesheet" href="/css/main-bundle.css">
  </head>
  <body>
    <h1>Boilerr Plate</h1>
    <div id="graph">

    </div>
    <script type="text/javascript" src="/js/main-bundle.js"></script>
  </body>
</html>
